$azul :#529be4;
$azulMedio :#003b75;
$azulclaro :#3cbaec;
$corBranco : #FFFFFF;
$vermelho  : #f50726;
$verde     : #53bb53d3;
$fonte : "Trebuchet MS";

@mixin busca_cor($cor) {
    background-color: $cor;
}

@mixin Monta_botao_link($cor) {
    background-color: $cor;
    width: 200px;
    height: 130px;
    border-radius: 20px;
    box-shadow:  10px 5px 5px black;
    color: $corBranco;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-decoration: none;
}


* {
    padding: 0px;
     margin: 0px;
     box-sizing: border-box;     
}

body{
    height: 100vh;
    @include busca_cor($azul);  
    padding: 10px;
    

}


.cabecalho {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100px;
     @include busca_cor($azulMedio);
     p {
        color: $corBranco; 
        font-size: 40px;
        @media screen and (max-width: 640px) {
          font-size: 25px;
          @include busca_cor_fonte($vermelho);
       }

     }  



     
}


.card-principal {
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: flex-start;
         height: 100vh;
         padding: 10px ;
         
         &__itens {
            display: flex;
            border-radius: 25px;
            flex-direction: column ;
            justify-content: center;
            align-items: center;
            height: 400px;
            width:  400px;
            gap: 60px;
            @include busca_cor($azulclaro);
            :nth-child(1)  { 
                @include Monta_botao_link($vermelho);
              }
            :nth-child(2)  { 
                @include Monta_botao_link($verde);
              }  

            a:active {
                background-color: #788895;
                transform: translateY(5px);
              }

           
         }




}

